.mealSummaryText {
	width: rem(200px);

	@media (max-width: em(370px)) {
		width: rem(100px);
	}
}

.waterIconContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.foodInfoCardText {
	@media (max-width: em(370)) {
		width: rem(180px);
	}

	@media (min-width: em(371)) and (max-width: em(450)) {
		width: rem(180px);
	}
}
